@model BigShop___.Models.ApplicationUser

@{
    ViewBag.Title = "Edit";
}
@{ Layout = "~/Views/Shared/_DashBoardLayout.cshtml";
}

<div class="container-fluid px-4">
    <h2 class="mt-4">Edit information</h2>
    <div class="form-horizontal d-flex justify-content-center">

        <hr />
        <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9">

            @using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group wow bounceInUp delay-300">

                            <h4><i style="color:red" class="fa fa-user"></i> First name </h4>
                            <div class="form-group">
                                <div class="col-md-12 mt-3">

                                    @Html.EditorFor(model => model.First_Name, new { htmlAttributes = new { @class = "form-control " } })
                                    @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
                        <div class="form-group wow bounceInUp delay-300">
                            <h4><i style="color:red" class="fa fa-user"></i> Last Name </h4>
                            <div class="form-group">
                                <div class="col-md-12 mt-3">
                                    @Html.EditorFor(model => model.Last_Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
                        <div class="form-group wow bounceInUp delay-300">
                            <h4><i style="color:red" class="fa fa-envelope"></i> email</h4>
                            <div class="form-group">
                                <div class="col-md-12 mt-3">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3">
                        <div class="form-group wow bounceInUp delay-400">
                            <h4><i style="color:red" class="fa fa-globe" aria-hidden="true"></i> User Name </h4>


                            <div class="form-group">
                                <div class="col-md-12 mt-3">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 mt-3">
                    <div class="form-group wow bounceInUp delay-200">
                        <h4><i style="color:red" class="fa fa-camera"></i> profile image </h4>

                        <input type="file" class="form-control image-preview-filename" name="image"> <!-- don't give a name === doesn't send on POST/GET -->


                    </div>

                </div>
                <div class="form-group mt-3">
                    @if (User.IsInRole("Administrator"))
                    {
                        <div class="form-group">
                            <h4><i style="color:red" class="fa fa-cog"></i> Role </h4>
                            <div class="col-xs-12 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 mt-3">

                                @Html.DropDownList("RoleType", ViewBag.roId as IEnumerable<SelectListItem>, new { @class = "form-select" })
                            </div>
                        </div>

                    }
                </div>

                <div class="form-group mt-3">
                    <div class="col-md-12 col-lg-1">
                        <p>
                            <span>
                                @Html.ActionLink("ChangePassword", "ChangePassword", "Manage", null, new { style = "padding:5px;border-top-right-radius:6px; " })

                            </span>
                        </p>

                    </div>
                </div>
                <div class="form-group mt-3">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-danger" />
                    </div>
                </div>

            }
            <div>
                @Html.ActionLink("Back to List", "showw")
            </div>
        </div>



    </div>
</div>